import("methods")
import("stats")
import("startupmsg")

exportClasses("PosSemDefSymmMatrix","PosDefSymmMatrix")
exportClasses("ArrayOrMatrix",
              "Hyperparamtype",
              "sHyperparamtype")
exportClasses("SSM","TimeInvariantSSM")
exportClasses("recFilter","robrecFilter")
exportClasses("RecFiltControl","KalmanControl","robrecControl")
exportClasses("SSMDistribution.f","SSMellDistribution.f",
              "SSMConvDistribution.f")
exportClasses("SSMwithDistribution","SSMwithConvDistribution")
exportClasses("SSMDistr")
exportClasses("SSMsimulation","SSMcontSimulation")
exportMethods("getp","setp<-","getq","setq<-",
              "getF","setF<-","getZ","setZ<-",
              "getV","setV<-","getQ","setQ<-",
              "geta","seta<-","getS","setS<-",
              "time","time<-","name","name<-")
exportMethods("SSM", "Y", "X.filtered", "X.predicted",
              "Cov.filtered", "Cov.predicted","Kalman.Gain",
              "X.rob.filtered", "X.rob.predicted", 
              "Cov.rob.filtered", "Cov.rob.predicted","Kalman.rob.Gain")
exportMethods("rob.correction.ctrl", "rob.prediction.ctrl")
exportMethods("IndIO", "IndAO", "nsim", "RNGstate") 
exportMethods("Cov.rob.filtered.sim", "Cov.rob.predicted.sim")
exportMethods("init", "predict", "correct") 
exportMethods("init.rob", "predict.rob", "correct.rob", "name.rob") 
exportMethods("controls")
exportMethods(".make.project", "kalman", "kalmanRob")
exportMethods("solve", "simulate")
export("TI.SSM", "makeArrayRepresentation")
export("SSMellDistribution.f", "SSMContDistribution.f",
       "SSMConvDistribution.f", "SSMwithDistribution",
       "SSMwithConvDistribution")
export("rcvcont")
export("KalmanControl", "ACMControl", "rLSControl")
export("generateRecFilter", "generateRobRecFilter")
export("ACMfilt", "ACMfilter", "arGM", "Euclidnorm",  
       "simulateState", "simulateObs", "rcvmvnorm", "Huberize",
       "rLScalibrateB", "limitS", "rLSFilter", "KalmanFilter", 
       "recursiveFilter")
